
<% @posts.each do |x| %>
<div class="white">	
<%= image_tag x.image.url(:medium) %>
<p>Published <%= time_ago_in_words(x.created_at)%> ago</p>

<br>
<%= x.description %>
<p><%= time_ago_in_words(x.created_at)%> ago</p>
</div>
<% end 	%>
